<div class="container ops-main">
<div class="row">
  <div class="col-md-12">
    <h3 class="ops-title">赤ちゃんたち</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <table class="table text-center">
      <tr>
        <th class="text-center">おなまえ</th>
        <th class="text-center">お誕生日</th>
        <th class="text-center">写真</th>
        <th class="text-center">削除</th>
      </tr>
      <% if (@groups != nil)%>
        <% @groups.each do |group| %>
        <tr>
          <td>
            <a href="/group/group.id"><%= group.name %></a>
          </td>
          <td><%= group.birthday %></td>
          <td><img src= group.image width="20" height="20"></td>
          <td>
            <form action="/group/group.id" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_token" value="{{ csrf_token() }}">
              <button type="submit" class="btn btn-xs btn-danger" aria-label="Left Align"><span class="glyphicon glyphicon-trash"></span></button>
            </form>
          </td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td>
            <div class =text-center>まだ登録されていません</div>
          </td>
        </tr>
      <% end %>
    </table>
    <button class="btn btn-default">赤ちゃんが生まれたよ</button>
  </div>
</div>

<div class = "create_baby under_box">
  <label for="name">おなまえ</label>
  <input type="text" class="form-control" name="name">
    <div class="form-group">
      <label for="price">お誕生日</label>
      <input type="text" class="form-control" name="birthday">
    </div>
    <div class="form-group">
      <label for="image">写真</label>
      <fieldset>
        <div>
          <input id="file" type="file" name="imagefile">
        </div>
      </fieldset>
    </div>
    <button type="submit" class="btn btn-default">登録</button>
    <a href="/group">戻る</a>
</div>
