.container.ops-main
  .row
    .col-md-12
      %h3.ops-title 赤ちゃんたち
  .row
    .col-md-11.col-md-offset-1.baby_groups
      %table.table.text-center
        %tr
          %th.text-center おなまえ
          %th.text-center お誕生日
          %th.text-center 写真
          -# %th.text-center 削除
          - current_user.groups.each do |group|
            .baby_group
            %tr
              %td
                =link_to group_messages_path(group) do
                  = group.name
              %td
                = group.birthday
              %td
                - if group.icon?
                  %img.setting_photo{:src => group.icon}/
                - else
                  .none_photo_set
                    %img.setting_photo{:src => '/errer/akatyan02.png'}/
              -# %td
              -#   %form{:action => "/group/group.id", :method => "post"}
              -#     %input{:name => "_method", :type => "hidden", :value => "DELETE"}/
              -#     %input{:name => "_token", :type => "hidden", :value => "{{ csrf_token() }}"}/
              -#     %button.btn.btn-xs.btn-danger{"aria-label" => "Left Align", :type => "submit"}
              -#       %span.glyphicon.glyphicon-trash
  .row
    = link_to new_group_path, class: "new_btn" do
      %button.btn.btn-default 赤ちゃんが生まれたよ
