%body.body
  %header
    %h1.head Baby memorY
    = render 'user_edit'

  %ul.tab
    %li.select TOP Page
    %li ０〜2ヶ月
    %li ３〜5ヶ月
    %li ６〜8ヶ月
    %li ９〜11ヶ月
    %li １歳〜
    %li アルバム
    %li 設定
  %ul.content
    %li= render 'side_bar'
    %li.hide 
    %li.hide 
    %li.hide 
    %li.hide 
    %li.hide 
    %li.hide 
    %li.hide= render 'side_bar'
  %footer.footer Copyright BabymemorY 2019.
