@section('top')
.side_bar
  サイド
  .side_bar_top
    top
    .side_bar_top_image
      {{-- @if($baby-&gt;image == null) --}}
      %img#topicon{:src => "/storage/noimage.png"}/
      {{-- @else --}}
      {{--
      %img{:src => "/storage/{{$user->image}}"}/
      \--}}
      {{-- @endif --}}
  .side_bar_data
    .side_bar_data_name ひなた
    .side_bar_data_birthday image
  .side_bar_under
    .side_bar_under_image
  .side_bar_bottom
    .side_bar_bottom_message
.main
  外側
  .main_top タイトル
  .main_content
    コンテンツ
    .main_content_data
      .main_content_data_image 写真
      .main_content_data_title タイトル
    .main_content_comment コメント
  .main_edit_btn ボタン
@overwrite
