.album_photo{
  width: 480px;
}
.none_photo{
  margin-top: 50px;
  margin-left: 50px;
  padding-top: 120px;
  border-radius: 10px;
  border-style: dashed;
  height: 340px;
  border-color: #00000086;
}

.album_none{
  width: 100px;
}

.album_editbtn{
float: right;
}

.album_contents{
  height: calc(100vh - 220px);
  overflow-y: auto;
}


.album{
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  &_top{
    width: calc(100% - 120px);
    margin: 0px auto;
    &_title{
      text-align: center;
      font-size: 40px;
    }
  }
  &_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow-y: auto;
    &_content{
      text-align: center;
      &_img{
        width: 300px;
      }
    }
    
    &_title{
      width: 350px;
      padding-left: 50px;
      text-align: center;
      font-size: 20px;
    }
  }
}
