.side_bar{
  height: 100%;
  width: 260px;
  border-right: solid;
  &_top{
    height: 230px;
    width: 200px;
    margin: 0px auto;
  }
  #topicon{
    width: 200px;
  }
  &_data{
    widows: 100%;
    height: 100px;
    text-align: center;
  }
    &_name{
      margin: 0px auto;
    }
    &_birthday{
      margin: 0px auto;
    }

  &_under{
    height: 50px;
  }
    &_image{
      border-radius: 10px;
    }

  &_bottom{
    &_message{
        align-items: center;
    }
  }
}

.topicon{
  margin: 20px;
}
