.edit_btn{
  color:#000;
  text-decoration: none
}
.cloud {
	display: block;
	width: 121px;
	height: 67px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 40px 18px 0 -15px #fff, -60px 30px 0 -30px #fff, -34px 21px 0 -24px #fff, 0px 0px 0 0px #fff;
}

.body{
  position: relative;
}

.wrap1{
  position: absolute;
  top: 10px;
  height: 1px;
  width: 100%;
  padding: 20px;
}

.cloud-wrap1{
  float: right;
}

.textbox1{
  position: absolute;
  top: 40px;
  right: 40px;
  width: 100px;
  text-align: center;
}
.text1{
  font-size: 20px;
  font-family: fantasy;
}
